<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.board.mapper.PostMapper">

    <insert id="register" parameterType="com.study.board.dto.PostDTO">
        INSERT INTO post (name, is_admin, contents, create_time, views, category_id, user_id, file_id, update_time )
        VALUES (#{name}, #{isAdmin}, #{contents}, #{createTime}, #{views}, #{categoryId}, #{userNo}, #{fileId}, #{updateTime})
    </insert>

    <select id="selectMyProducts" resultType="com.study.board.dto.PostDTO">
        SELECT post_id,
               name,
               is_admin,
               contents,
               create_time,
               views,
               category_id,
               user_id,
               file_id,
               update_time
        FROM post
        WHERE user_id = #{userId}
    </select>

    <update id="updateProducts" parameterType="com.study.board.dto.PostDTO">
        UPDATE post
        SET name = #{name},
            contents = #{contents},
            views = #{views},
            category_id = #{categoryId},
            user_id = #{userId},
            file_id = #{fileId},
            update_time = #{updateTime}
        WHERE post_id = #{postId}
    </update>

    <delete id="deleteProduct" >
        DELETE FROM post
        WHERE post_id = #{postId}
    </delete>

</mapper>