<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.board.mapper.UserProfileMapper">

    <select id="getUserProfile" resultType="com.study.board.dto.UserDTO">
        SELECT user_no, user_id, password, nickname, create_time
             , is_with_draw, status
        FROM t_user
        WHERE user_no = #{userNo}
    </select>

    <insert id="insertUserProfile" parameterType="com.study.board.dto.UserDTO">
        INSERT INTO t_user (user_id, password, nickname, is_with_draw, status, isAdmin)
        VALUES (#{userId}, #{password}, #{nickname}, #{isWithDraw}, #{status}, #{isAdmin})
    </insert>

    <update id="updateUserProfile" parameterType="com.study.board.dto.UserDTO">
        UPDATE t_user
        SET password=#{password},
            nickname=#{nickname},
            is_with_draw=#{isWithDraw},
            status=#{status}
        WHERE user_no = #{userNo}
    </update>

    <delete id="deleteUserProfile">
        DELETE
        FROM t_user
        WHERE user_no = #{id}
    </delete>

    <select id="findByUserNoAndPassword" resultType="com.study.board.dto.UserDTO">
        SELECT user_no,
               user_id,
               password,
               nickname,
               create_time,
               is_with_draw,
               status
        FROM t_user
        WHERE user_no = #{userNo}
          AND password = #{password}
          AND status != 'DELETE'
    </select>

    <select id="findByUserIdAndPassword" resultType="com.study.board.dto.UserDTO">
        SELECT user_no,
               user_id,
               password,
               nickname,
               create_time,
               is_with_draw,
               status
        FROM t_user
        WHERE user_id = #{userId}
          AND password = #{password}
          AND status != 'DELETE'
    </select>

    <select id="idCheck" resultType="int">
        SELECT COUNT(user_no)
        FROM t_user
        WHERE user_id = #{userId}
    </select>

    <update id="updatePassword" parameterType="com.study.board.dto.UserDTO">
        UPDATE t_user
        SET password = #{password}
        WHERE user_id = #{userId}
    </update>

</mapper>